Nested List

In [ ]:
list1=[1,2,[100,200,[600,[900,1000]]],3,4,5]
print(list1[2])
# list1[2][2]=400
print(list1[2][2][-1])

[100, 200, [600, 700]]
700

Taking input as a list

In [ ]:
user=int(input("Please enter how many elements you want in your list"))
list1=[]
for idx in range(user):
  inp=float(input("Enter a elemet:"))
  list1.append(inp)
print(list1)

Please enter how many elements you want in your list3
Enter a elemet:10
Enter a elemet:20
Enter a elemet:30
[10.0, 20.0, 30.0]

In [ ]:
user=input("Please enter space seperated names:")
list1=user.split(" ")
print(list1)
list2=[]
for elem in list1:
  list2.append(int(elem))
print(list2)

Please enter space seperated names:10 20 30 40
['10', '20', '30', '40']
[10, 20, 30, 40]

Any particular problem in list

In [ ]:
#previous class
#homework solution

**Dictionary**

In [ ]:
#unordered data structure
#Dynamic
#Mutable
#Also known as map/hash table/associative arrays
#has key:value pair

Syntax

In [ ]:
#enclosed within the curly braces {}
#commas (,) to seperate items
#colon to seperate key and value
#keys are unique and of immutable data type
#values do not have to be unique and can be of any data type

Creating dictionaries

In [ ]:
dict1={12:'CSE110',4:12.0,'Course':'PHY111',2:200}

Accessing dictionary value

In [ ]:
#get(key,[value])
#using third bracket [key]
dict1={12:'CSE110',4:12.0,'Course':'PHY111','2':200}
print(dict1['2'])
print(dict1.get('22',2000))

200
2000

Nested dictionary

In [ ]:
dict1={12:'CSE110',4:{1:2000,2:4000,3:['CSE110','CSE230','CSE111']},'Course':'PHY111','2':200}
dict1[4][3][1]='CSE101'
print(dict1)

{12: 'CSE110', 4: {1: 2000, 2: 4000, 3: ['CSE110', 'CSE101', 'CSE111']}, 'Course': 'PHY111', '2': 200}

Dictionary Mutability

In [ ]:
#variable[key]=value
dict1={12:'CSE110',4:12.0,'Course':'PHY111','2':200}
dict1['Course']='MAT110'
print(dict1)

{12: 'CSE110', 4: 12.0, 'Course': 'MAT110', '2': 200}

Adding/Updating Elements

In [ ]:
#.update({key:value})
dict1={12:'CSE110',4:12.0,'Course':'PHY111','2':200}
dict1.update({'Course1':'MAT110'})
print(dict1)

{12: 'CSE110', 4: 12.0, 'Course': 'PHY111', '2': 200, 'Course1': 'MAT110'}

Deleting Elements

In [ ]:
#clear()
#popitem()
#pop(key,[msg])
#del
dict1={12:'CSE110',4:12.0,'Course':'PHY111','2':200}
dict1.clear()
print(dict1)

{}

In [ ]:
dict1={12:'CSE110',4:12.0,'Course':'PHY111','2':200}
dict1.popitem()
print(dict1)

{12: 'CSE110', 4: 12.0, 'Course': 'PHY111'}

In [ ]:
dict1={12:'CSE110',4:12.0,'Course':'PHY111','2':200}
dict1.pop(44,'No key found')

'No key found'

In [ ]:
dict1={12:'CSE110',4:12.0,'Course':'PHY111','2':200}
del dict1[12]
print(dict1)

{4: 12.0, 'Course': 'PHY111', '2': 200}

In [ ]:
dir({})

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

**Homework:**
You have the following dictionary:
dict1={1:22,4:55,6:44,5:99,9:77,3:66}

Your job is to sum the values of the keys: 1,6 and 9 and add the summation at the end of the dictionary correspond to key 7. Also, update the value of key 4 to 100. So, the output dictionary will be:

dict2={1:22,4:100,6:44,5:99,9:77,3:66,7:143}

Few more functions

In [ ]:
#.keys()
#.values()
#.items()

In [ ]:
dict1={12:'CSE110',4:'CSE111',9:'CSE421',3:'CSE420'}
print(dict1.keys())
print(dict1.values())
print(dict1.items())

dict_keys([12, 4, 9, 3])
dict_values(['CSE110', 'CSE111', 'CSE421', 'CSE420'])
dict_items([(12, 'CSE110'), (4, 'CSE111'), (9, 'CSE421'), (3, 'CSE420')])

Iteration

In [ ]:
#iteration over keys
#iteration over values
#iteration over items

In [ ]:
dict1={12:'CSE110',4:'CSE111',9:'CSE421',3:'CSE420'}
for var in dict1:
  print(var)
  print(dict1[var])

12
CSE110
4
CSE111
9
CSE421
3
CSE420

In [ ]:
dict1={12:'CSE110',4:'CSE111',9:'CSE421',3:'CSE420'}
for var in dict1.keys():
  print(var)

12
4
9
3

In [ ]:
dict1={12:'CSE110',4:'CSE111',9:'CSE421',3:'CSE420'}
for var in dict1.values():
  print(var)

CSE110
CSE111
CSE421
CSE420

In [ ]:
dict1={12:'CSE110',4:'CSE111',9:'CSE421',3:'CSE420'}
for var,val1 in dict1.items():
  print(var,val1)

12 CSE110
4 CSE111
9 CSE421
3 CSE420

Built in functions

**Homework 1:**

In [ ]:
#len
#max(dictionary.keys())
#max(dictionary.values())
#min(dictionary.keys())
#min(dictionary.values())
#sorted(dictionary.keys())
#sorted(dictionary.values())

In [ ]:
print(len(dict1))
print(max(dict1.keys()))
print(max(dict1.values()))
print(min(dict1.keys()))
print(min(dict1.values()))
print(sorted(dict1.keys()))
print(sorted(dict1.values()))

4
12
CSE421
3
CSE110
[3, 4, 9, 12]
['CSE110', 'CSE111', 'CSE420', 'CSE421']

In [ ]:
dict1={12:'CSE110',4:'CSE111',9:'CSE421',3:'CSE420'}
dict2={}
dict3={}
for val in dict1:
  if val%2==0:
    dict2.update({val:dict1[val]})
  else:
    dict3.update({val:dict1[val]})
print(dict2)
print(dict3)

{12: 'CSE110', 4: 'CSE111'}
{9: 'CSE421', 3: 'CSE420'}

**Homework (Optional):** take dictionary as input from the user by using for loop and also by using the split() function.

**Tuples**

In [ ]:
#A collection of ordered and immutable objects
#similar to lists
#Tuples cannot be changed like lists
#Tuples use parenthese whereas lists use square brackets

Creating a Tuple

In [ ]:
#To create a tuple with only one item, you have to add
#a comma after the item, otherwise Python will not
#recognize it as a tuple

Accesing Elements of a Tuple

In [ ]:
tuple1=(23,45,67)
a,b,c=tuple1
print(c)

67

In [ ]:
tuple1=[23,45,67]
a,b,c=tuple1
print(c)

67

In [ ]:
list1=[67]
print(type(list1))

<class 'list'>

In [ ]:
tuple1=(78,)
print(type(tuple1))

<class 'tuple'>

Mutability of Tuples

In [ ]:
tuple1=(78,78,90)
print(tuple1[2])

90

In [ ]:
tuple1=(78,[77,88,99],90)
print(tuple1[1][2])
tuple1[1][2]=100
print(tuple1)

99
(78, [77, 88, 100], 90)

Advantages of Tuple over List

In [ ]:
#can use for storing values of heterogeneous (different)
#As immutable, iterating through a tuple is faster than list
#Can be used as a key for a dictionary
#Tuple guarantee that not chaning data remains write-protected

**Homework 2:**

Magic number: If the summation of even indexed digits is equal to the summation of odd indexed digits, then the number is
a magic number.

Now, write a Python program that will take a string of numbers where each number is separated by a comma. The program should
print a tuple containing two sub-tuples, where the first sub-tuple will hold the magic numbers and the second sub-tuple will hold the non-magic numbers.

===========================================================

**Sample Input1:**

"1232, 4455, 1234, 9876, 1111"

**Sample Output1:**

((1232, 4455, 1111), (1234, 9876))

**Explanation1:**

For 1232, the sum of even indexed digits is = 4 & the sum of odd indexed digits is = 4. So, 1232 is a magic number.

For 4455, the sum of even indexed digits is = 9 & the sum of odd indexed digits is = 9. So, 4455 is a magic number.

For 1234, the sum of even indexed digits is = 4 & the sum of odd indexed digits is = 6. So, 1234 is a non-magic number.

For 9876, the sum of even indexed digits is = 16 & the sum of odd indexed digits is = 14. So, 9876 is a non-magic number.

For 1111, the sum of even indexed digits is = 2 & the sum of odd indexed digits is = 2. So, 1111 is a magic number.

So, the final answer is ((1232, 4455, 1111), (1234, 9876))

===========================================================

**Sample Input2:**

"442310, 441310, 42251, 42241, 451, 452"

**Sample Output2:**

((442310, 42251, 451), (441310, 42241, 452))

**Explanation2:**

For 442310, the sum of even indexed digits is = 7 & the sum of odd indexed digits is = 7. So, 442310 is a magic number.

For 441310, the sum of even indexed digits is = 6 & the sum of odd indexed digits is = 7. So, 441310 is a non-magic number.

For 42251, the sum of even indexed digits is = 7 & the sum of odd indexed digits is = 7. So, 42251 is a magic number.

For 42241, the sum of even indexed digits is = 7 & the sum of odd indexed digits is = 6. So, 42241 is a non-magic number.

For 451, the sum of even indexed digits is = 5 & the sum of odd indexed digits is = 5. So, 451 is a magic number.

For 452, the sum of even indexed digits is = 6 & the sum of odd indexed digits is = 5. So, 452 is a non-magic number.

So, the final answer is ((442310, 42251, 451), (441310, 42241, 452))