From previous class:

In [ ]:
#From previous class: Yes, sorted function has reverse keyword
dict1={12:'CSE110',4:'CSE111',9:'CSE421',3:'CSE420'}
dict2=sorted(dict1.keys(),reverse=True)
print(dict2)

[12, 9, 4, 3]

In [ ]:
#making the keys or values of the dictionary into iterable lists
dict1={12:'CSE110',4:'CSE111',9:'CSE421',3:'CSE420'}
print(dict1.keys())
list1=list(dict1.keys())
list2=list(dict1.values())
print(list1[0])
print(list2[0])
print(list1)

dict_keys([12, 4, 9, 3])
12
CSE110
[12, 4, 9, 3]

In [ ]:
#A correction: Along with tuple all other data structure also have unpacking
#For example:
list1=[56,90,"CSE110 [cause it is the universal string for this course ehem]"]
a,b,c=list1
print(a)
print(c)

56
CSE110 [cause it is the universal string for this course ehem]

Any particular problem from last week's content

In [ ]:
#No problem

Functions

In [ ]:
#A function has 4 parts:name,parameter,body of the function,return statement
#4 types of function:
#1. Built-in functions
#2. User-defined functions
#3. Lambda function
#4. Recursive function

Built-in functions

In [ ]:
#input()
#print()
#min()
#max()

User-defined functions

In [ ]:
#Custom functions that we write to fulfill our purpose
#There are 2 types:
#1. Void function: Do not return anything
#2. Fruitful function: Return some value after execution

In [ ]:
def addition (val1,val2):
  sum1=val1+val2
  # return sum1

val=addition(20,40)
val=addition(80,40)
print(val)

None

**Homework 1:**

Do the following tracing problem on Boolean and must submit in the next class. There will be another tracing problem on list as homework will given in the next class.

In [ ]:
var1 = var2 = var3 = True
var4 = var5 = var6 = False
result1 = result2 = result3 = result4 = result5 =False
result6 =result7 = result8 = result9 = result10 = True
var1 = (5**2)<(2**5)
var2 = var1 and False
var3 = True
var4 = False and False
var5 = False or not False
var6 = var1 and True
result1 = (var3 or var2) and ('2' in "2244")
result2 = (var1 and result1) or (result1 and True)
result3 = (var1 and result1) or result2 or result1 and True
result4 = (var1 or var2) or ((var3 and var1) and False or True)
result5 = (var1 and var2) and (result3 or var1) or (var2 and var3)
result6 = ((var3 or var2) and not result5) or not True
result7 = (var4 and result1) and ((result1 and False) or True) or False
result8 = ((var1 and result6) and (var5 or var1)) and True
result9 = ((result4 and var3) or (result7 and var6)) and not False
result10 = not(var3 and True)
print(result1)
print(result2)
print(result3)
print(result4)
print(result5)
print(result6)
print(result7)
print(result8)
print(result9)
print(result10)

Function parts

In [ ]:
#Function name
#Parameter list
#Body of the function
#Return statement
#Calling the function

Parameter and Argument

In [ ]:
#A parameter is the variable listed inside the parentheses in the function defination
#An argument is the value that is sent to the function when it is called

In [ ]:
def concat(num1,num2, val):
  print(str(num1*num2)+val)

concat(5,2,"Sad")

10Sad

Number of arguments

In [ ]:
#number of arguments of a function should match with the number of parameters

In [ ]:
def addition (val,val1):
  sum1=val+val1
  print(sum1) 

addition(78,88)

166

**Homework 2:**

In [ ]:
myList = [1, 0, 1, 0, 1, 0, 1, 0, 1, 0]
b = []
index1 = 0
index2 = 0
index1 = 1
b = myList.copy()
while(index1<10):
  myList[index1] = (index1%(index2+1))+3
  index2 = 2
  while(index2<index1):
    myList[index1] = b[index1]+myList[index2]-index1
    b[index1]=myList[index1]+myList[index2]+4
    index2 = index2+1
  print(myList[index1])
  print(b[index1])
  index1 = index1+1

3
0
5
1
2
11
9
15
16
29
37
57
82
123
193
279
456
653

Unknown number of arguments (*args)

In [ ]:
#*args is used as parameter when we do not know how many arguments will be passed to the function's parameter

In [ ]:
def addition (name,*val):
  sum1=0
  for num in val:
    sum1=sum1+num
  print(name,sum1) 

addition('Sam',78,88,90,99,100)

Sam 455

In [ ]:
def addition (*val,name):
  sum1=0
  for num in val:
    sum1=sum1+num
  print(name,sum1) 

addition(78,88,90,99,100,name='Sam')

789 455

In [ ]:
def addition (name,val):
  print(val)
  sum1=0
  for num in val:
    sum1=sum1+int(num)
  print(name,sum1) 

nam=input('Please enter your name: ')
num=input('Please enter comma seperated numbers: ')
num1=num.split(',')
print(num1)
addition(nam,num1)

Please enter your name: Sam
Please enter comma seperated numbers: 45,67,89,90
['45', '67', '89', '90']
['45', '67', '89', '90']
Sam 291

Keyword arguments

In [ ]:
#Can use to send arguments with the key=value syntax
#So, the order of the arguments does not matter

In [ ]:
def information (name, id, age, address):
  print('Name is:',name)
  print('Id is:',id)
  print('Age is:',age)
  print('Address is:',address)

information (id=22101010,name='Sam',age=22,address='Gulshan')

Name is: Sam
Id is: 22101010
Age is: 22
Address is: Gulshan

Unknown number of keyword arguments (**kwargs)

In [ ]:
#Used when number of keyword arguments are unknown

In [ ]:
def information (**info):
  print('Name is:',info['name'])
  print('Id is:',info['id'])
  print('Age is:',info.get('age'))
  print('Address is:',info['address'])

information (id=22101010,name='Sam',age=22,address='Gulshan')

Name is: Sam
Id is: 22101010
Age is: 22
Address is: Gulshan

In [ ]:
def information (**info):
  for key,value in info.items():
    print(key,value)

information (id=22101010,name='Sam',age=22,address='Gulshan')

id 22101010
name Sam
age 22
address Gulshan

**Homework 1 (function):**

Write a function called **check_awesome** that takes a list of numbers(integer) as an argument and Prints whether the number is Awesome or not.

**Awesome number:** a number where every digit is less than its immediate left digit is called an Awesome number. A single digit number cannot be a awesome number(e.g. 5421 is an Awesome number).

**<font color='red'>Must reuse the check_awesomeness() function.</font>**

==========================================================

**Function Call1:**\
check_awesome([976321, 321, 9763221, 9742, 876, 3211])\
**Output1:**\
976321 is an awesome number.\
321 is a awesome number.\
9763221 is a not-so-awesome number.\
9742 is an awesome number.\
876 is an awesome number.\
3211 is a not-so-awesome number.

==========================================================

**Function Call2:**\
check_awesome([97821, 97210, 979210])\
**Output2:**\
97821 is a not-so-awesome number.\
97210 is an awesome number.\
979210 is a not-so-awesome number.

**Homework 2 (function):**

Write a function called **find_max_min** that takes a list of numbers(integers) as a  function parameter and finds the numbers with maximum and minimum value. Then returns these two numbers as a **tuple** and prints the results using tuple unpacking in the function call accorrding to the given format. Both valid and invalid numbers should be considered for finding maximum and minimum.<font color='red'>[Must use tuple packing & unpacking] </font> 

==========================================================

**Function Call1:**\
find_max_min([976321, 321, 9763221, 9742, 876, 3211, 976321, 9742])\
**Output1:**\
Returned value from find_max_min() is: (9763221, 321)\
Number with maximum value is 9763221\
Number with minimum value is 321

==========================================================

**Function Call2:**\
find_max_min([97821, 1, 97210, 963, 979210, 979210])\
**Output2:**\
Returned value from find_max_min() is: (979210, 1)\
Number with maximum value is 979210\
Number with minimum value is 1

**Homework 3 (function):**

Write a function in Python that will take a string text as input from the user and returns the list of
unique characters concatenated with their ASCII value at the front and back side.

==================================================

**Sample Input:**

"pythonbook"

**Function Calling:**

function_name("pythonbook")

**Sample Output:**

['112p112', '121y121', '116t116', '104h104', '111o111', '110n110', '98b98', '107k107']

Default argument values

In [ ]:
#Function's parameter list can be specified as default values for one or more arguments
#Can be overwritten by the format "parameter_name=value"

In [ ]:
def information (name='No name', id='starts with 20-22', age='age between 20-30', address='None'):
  print('Name is:',name)
  print('Id is:',id)
  print('Age is:',age)
  print('Address is:',address)

information ()

Name is: No name
Id is: starts with 20-22
Age is: age between 20-30
Address is: None

Return statement

In [ ]:
#return statement let a function return a value
#returned value replaces the function calling statement

In [ ]:
def information (name, id, age, address):
  return name,id,age,address

val=information (id=22101010,name='Sam',age=22,address='Gulshan')
print(val)
a,b,c,d=val
print(a)
print(b)
print(c)
print(d)

('Sam', 22101010, 22, 'Gulshan')
Sam
22101010
22
Gulshan

Pass statement

In [ ]:
#For avoiding error when a function definitions is empty

In [ ]:
def information ():
  pass
  

information ()
print("Function executed successfully")

Function executed successfully

Why function??

In [ ]:
#I think we already know by now after all the discussions

Variable scoping in functions

In [ ]:
#What is variable scoping?
def learn_scope():
  print("Hello")
  val='local variable'
  print(val)

learn_scope()

Hello
local variable

Accessing local and global variables

In [ ]:
#Local
def learn_scope():
  val='local variable'
  print(val)

learn_scope()
# print(val)

local variable

In [ ]:
#Global
val='global variable'
def learn_scope():
  print("Hello")
  val='local variable'
  print(val)

learn_scope()
print(val)

In [ ]:
#Global inside local
val='global variable'
def learn_scope():
  print(val)

learn_scope()
print(val)

global variable
global variable

Changing local and global variables

In [1]:
#Changing local variable
def learn_scope():
  val='local variable'
  val=val+" here"
  print(val)

learn_scope()

local variable here

In [ ]:
#Changing global variable from inside function
#global keyword
#Global inside local
val='global variable'
def learn_scope():
  global val
  val='local variable'
  val=val+' here'
  print(val)

learn_scope()
print(val)

local variable here
local variable here

**Homework 4 (function):**

Your job is to write a function call **unique_number()** that take tuple as input. You have to take the numbers of the tuple from user as comma seperated string, convert it to a tuple and then send it as an argument. To find unique number,

**First,** take all the even numbers from the tuple and add them and store in a variable call new_number1

**Secondly,** take all the odd numbers from the tuple and multiply them and store in a variable call new_number2

**Thirdly,** generate the unique number by concatinating the even indexed position digits from the new_number1 with the odd indexed position digits from the new_number2.

**Finally,** return the unique number and show the output as below:

The unique number is: the unique number you got

**Sample Input:**

"12,55,66,98,75,45,88,128"

**Function Calling:**

function_name((12,55,66,98,75,45,88,128))

**Sample Output:**

The unique number is: 32865

**Homework 5 (function):**

Write a function in Python that will take a space separated string text as input from the user and
returns a dictionary having the unique words as the keys and their frequency in the given text as the
values in a sorted order(ascending) according to the frequencies.

==================================================


**Hints (1):**
Frequencies of the words can be easily counted with built-in function count().

**Hints (2):**
Sorting according to frequencies can be done in two approaches.

**Approach (1):** Use the built-in sorted() function. Here, for the key, you need to call a custom-made
function that will return frequencies for each word. So, the sorted() function will return values sorted
according to the frequencies.

**Approach (2):** Make two lists. One with the keys and other one with the frequencies. For a particular
keys, values should be found in the same index of the frequencies list. Sort the values of frequencies and in time of swapping, swap BOTH keys &
frequencies.

==================================================

**Sample Input1:**

"go there come and go here and there go care"

**Function Call1:**

function_name("go there come and go here and there go care")

**Sample Output1:**

{'come': 1, 'here': 1, 'care': 1, 'there': 2, 'and': 2, 'go': 3}

==================================================

**Homework 6 (function):**

Please take preparation on summarizing the contents of function with example. I will randomly call 5 students to explain a certain topic covered in function. **If you can explain correctly, you will get a gift from me.**

Nested functions

In [ ]:
#Global Outer Inner
#non local keyword

Summary??

In [ ]:
# Yes, 5 of my randomly selected students will summarize the contents of function