List

In [ ]:
list1=[1,'Jaber',12.55,True]
print(list1)

Creating Lists

In [ ]:
list1=[1,2,3,4,5]

Create a list with 6 integers and then add all the integers at even index and print the summation.
list1=[1,2,4,6,6,10]
Output= Summation: 11

Accessing List Elements

In [ ]:
list1=[3,4,6,7,8,9,10,33]
print(list1[5])
print(list1[-1])
print(list1[len(list1)-1])
#CSE110

You have a list containing 6 numbers. Your job is to find the summation of all the numbers resides at even index of the list and then substract all the odd indexed number and print the output.
For example,
if the list is= [2,5,6,7,9,8]
The out will be= 2+6+9-5-7-8=-3

In [ ]:
list1= [2,5,6,7,9,8]
sum=0
for index in range(0,len(list1),2):
  sum=sum+list1[index]
print(sum)

In [ ]:
list1= [2,5,6,7,9,8]
sum=0
for index in list1:
  print(index)
  sum=sum+index
print(sum)

In [ ]:
list1= [2,5,6,7,9,8]
sum=0
for index in range(len(list1)):
  if (index%2==0):
    sum=sum+list1[index]
print(sum)

In [ ]:
list1= [2,5,6,7,9,8]
sum=0
counter=0
while counter<len(list1):
  if(counter%2==0):
    sum=sum+list1[counter]
  counter+=1
print(sum)

In [ ]:
list1= [2,5,6,7,9,8]
sum=0
counter=0
while counter<len(list1):
  sum=sum+list1[counter]
  counter+=2
print(sum)

In [ ]:
list1= [2,5,6,7,9,8]
sum=0
for index in range(0,len(list1),2):
  sum=sum+list1[index]
for index in range(1,len(list1),2):
  sum=sum-list1[index]
print(sum)

In [ ]:
list1= [2,5,6,7,9,8]
sum=0
for index in range(len(list1)):
  if (index%2==0):
    sum=sum+list1[index]
  else:
    sum=sum-list1[index]
print(sum)

In [ ]:
list1= [2,5,6,7,9,8,22]
sum=0
for index in range(0,len(list1),2):
  sum=sum+list1[index]
  if (index+1!=len(list1)):
   sum=sum-list1[index+1]
print(sum)

In [ ]:
list1= [2,5,6,7,9,8]
sum=0
counter=0
while counter<len(list1):
  if(counter%2==0):
    sum=sum+list1[counter]
  else:
    sum=sum-list1[counter]
  counter+=1
print(sum)

**Homework:**

Take two lists with 5 numbers.
1. Add all the even numbers from both the lists
2. Multiply all the odd numbers from both the lists
3. Add all the even indexed numbers from list1 wiht odd indexed numbers from list2
list1=[1,2,3,4]
list2=[4,5,9,8]
1. 18
2. 135
3. 17

List Mutability

In [ ]:
list1=[1,2,3,4,7,8,7,88,100]
list1[4]=5
print(list1)

Adding Elements

In [ ]:
#append()
list1=[1,2,3,4,7,8,7,88,100]
list1.append('CSE110')
print(list1)

In [ ]:
#extend(list)
list1=[1,2,3,4,7,8,7,88,100]
list1.extend([200,300,400])
print(list1)

In [ ]:
#insert(location[index],elemet)
list1=[1,2,3,4,7,8,7,88,100]
list1.insert(5,9)
print(list1)

Deleting Elements

In [ ]:
#pop()
#pop(index)
list1=[1,2,3,4,7,8,7,88,100]
list1.pop()
print(list1)
list1.pop(-1)
print(list1)

In [ ]:
#remove(elem/value)
list1=[1,2,3,4,7,8,7,88,100]
list1.remove(8)
print(list1)

In [ ]:
#clear()
list1=[1,2,3,4,7,8,7,88,100]
list1.clear()
print(list1)

In [ ]:
#del
list1=[1,2,3,4,7,8,7,88,100]
del list1[7]
print(list1)
del list1
print(list1)

In [ ]:
dir([])

More functions of list

In [ ]:
#count(element)
list1=[1,2,3,4,7,8,7,88,100]
print(list1.count(7))

In [ ]:
#sort()
list1=[1,2,3,4,7,8,7,88,100]
list1.sort()
print(list1)

In [ ]:
#sort()
list1=[1,2,3,4.3,7,8,7.4,88,100]
list1.sort(reverse=True)
print(list1)

In [ ]:
#sort()
list1=['good','glad','cse110','jii']
list1.sort()
print(list1)

In [ ]:
#reverse
list1=[1,2,3,4.3,7,8,7.4,88,100]
list1.reverse()
print(list1)

**Homework 1:**

Suppose you have a string. Your job is to find if the particular string has any "E" or 'e' in it. if the string has these character then print the index numbers that contain these character.
Example:
Sample input: 'Bleh Bleh Bleck shEEp'
Sample output: [2,7,12,17,18]

In [ ]:
#index(elem,[start,end])
list1=[1,2,3,4.3,7,8,7,88,100]
val=list1.index(7,5,len(list1))
print(val)

list1=[1,2,4,6,6,10,6,3,4,5,67,10]
find the index of 67 without using any built in function

In [ ]:
list1=[1,2,4,6,6,10,6,3,4,5,67,10]
val=0
for index in range(len(list1)):
  if list1[index]==67:
    val=index
    break
print(val)

Basic List Operations

In [ ]:
#+
list1=[1,2,4,6,6,10,6,3,4,5,67,10]
list2=[2,3,4]
print(list1+list2)

In [ ]:
list2=[2,3,4]
print(list2*4)

In [ ]:
list1=[1,2,4,6,6,10,6,3,4,5,67,10]
print(67 in list1)

List slicing

**Homework 2:**

Suppose you have the following list:
list1= [2,7,12,17,18,88,58,7,89,78,74,55,33,57].
Your job is to make two seperate lists by following the below conditions:
* List one will have only the even indexed numbers from the original list
* List two will have only the odd indexed numberes from the original list

Next, Add new list one's first element with new list two's last element, new list one's second element with new list two's second last element and so on.

Print both new lists and the list created from the new lists.

The output would be:

New list one: 
[2,12,18,58,89,74,33]

New list two: 
[7,17,88,7,78,55,57]

The final list: 
[59,67,96,65,177,91,40]

Some built in functions

In [ ]:
#sum
#max
#min
list1=[1,2,4,6,6,10,6,3,4,5,67,10]
print(sum(list1))
print(max(list1))
print(min(list1))

In [ ]:
list1=[1,2,4,6,6,10,6,3,4,5,67,10]
max=list1[0]
min=list1[0]
for index in range (1,len(list1),1):
  if(list1[index]>max):
    max=list1[index]
  if(list1[index]<min):
    min=list1[index]
print(max)
print(min)